In [2]:
import requests
import pandas as pd
from io import StringIO
from concurrent.futures import ThreadPoolExecutor
from lookups import DataSources

In [10]:
# make it more dynamic
def fetch_data(source, limit):
    response = requests.get(source.value, params={'$limit': limit})
    if response.status_code == 200:
        if source.name.startswith("PER_CAPITA"):
            df = pd.read_csv(StringIO(response.text))
            df.columns = ['date', source.name.split('_')[2].title()]
            return source.name.lower(), df
        elif source.name.startswith("SHELTER"):
            return source.name.lower(), pd.DataFrame(response.json())
    return None

def readData(limit=1):
    income_dict = dict()
    sources = list(DataSources)

    with ThreadPoolExecutor(max_workers=5) as executor:
        results = list(executor.map(lambda source: fetch_data(source, limit), sources))

    for result in results:
        if result is not None:
            income_dict[result[0]] = result[1]

    return income_dict

In [13]:
dfs = readData(limit=1000000)

In [14]:
dfs.keys()

dict_keys(['shelter_sonoma', 'shelter_austin_intakes', 'shelter_austin_outcomes', 'shelter_norfolk', 'shelter_bloomington', 'shelter_dallas_2017_2018', 'shelter_dallas_2018_2019', 'shelter_dallas_2019_2020', 'shelter_dallas_2020_2021', 'shelter_dallas_2021_2022', 'shelter_dallas_2022_2023', 'per_capita_sonoma_income', 'per_capita_austin_income', 'per_capita_norfolk_income', 'per_capita_bloomington_income', 'per_capita_dallas_income'])

In [17]:
for key, df in dfs.items():
    print(f"DataFrame: {key}")
    print(df.info())

DataFrame: shelter_sonoma
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26302 entries, 0 to 26301
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             26302 non-null  object
 1   type           26302 non-null  object
 2   breed          26302 non-null  object
 3   color          26302 non-null  object
 4   sex            26302 non-null  object
 5   date_of_birth  19817 non-null  object
 6   intake_date    26302 non-null  object
 7   outcome_date   26069 non-null  object
 8   intake_type    26302 non-null  object
 9   outcome_type   26064 non-null  object
dtypes: object(10)
memory usage: 2.0+ MB
None
DataFrame: shelter_austin_intakes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156093 entries, 0 to 156092
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   animal_id        156093 non-null  object
 1   animal_type      156093 non-null  object
 2   breed            156093 non-null  object
 3   color            156093 non-null  object
 4   sex_upon_intake  156093 non-null  object
 5   age_upon_intake  156093 non-null  object
 6   datetime         156093 non-null  object
 7   intake_type      156093 non-null  object
dtypes: object(8)
memory usage: 9.5+ MB
None
DataFrame: shelter_austin_outcomes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156034 entries, 0 to 156033
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         156034 non-null  object
 1   sex_upon_outcome  156034 non-null  object
 2   age_upon_outcome  156034 non-null  object
 3   date_of_birth     156034 non-null  object
 4   datetime          156034 non-null  object
 5   outcome_type      156004 non-null  object
dtypes: object(6)
memory usage: 7.1+ MB
None
DataFrame: shelter_norfolk
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27907 entries, 0 to 27906
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   animal_id      27907 non-null  object
 1   animal_type    27907 non-null  object
 2   primary_breed  27907 non-null  object
 3   primary_color  27907 non-null  object
 4   sex            27907 non-null  object
 5   years_old      14285 non-null  object
 6   months_old     12265 non-null  object
 7   intake_date    27907 non-null  object
 8   outcome_date   27907 non-null  object
 9   intake_type    27907 non-null  object
 10  outcome_type   27906 non-null  object
dtypes: object(11)
memory usage: 2.3+ MB
None
DataFrame: shelter_bloomington
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30469 non-null  object
 1   speciesname   30469 non-null  object
 2   breedname     30397 non-null  object
 3   basecolour    30469 non-null  object
 4   sexname       30469 non-null  object
 5   animalage     30469 non-null  object
 6   intakedate    30469 non-null  object
 7   movementdate  26060 non-null  object
 8   intakereason  30467 non-null  object
 9   movementtype  30469 non-null  object
dtypes: object(10)
memory usage: 2.3+ MB
None
DataFrame: shelter_dallas_2017_2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37219 entries, 0 to 37218
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     37219 non-null  object
 1   animal_type   37219 non-null  object
 2   animal_breed  37219 non-null  object
 3   intake_date   37219 non-null  object
 4   intake_time   37219 non-null  object
 5   outcome_date  37219 non-null  object
 6   outcome_time  37219 non-null  object
 7   intake_type   37219 non-null  object
 8   outcome_type  37219 non-null  object
dtypes: object(9)
memory usage: 2.6+ MB
None
DataFrame: shelter_dallas_2018_2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46409 entries, 0 to 46408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     46409 non-null  object
 1   animal_type   46409 non-null  object
 2   animal_breed  46409 non-null  object
 3   intake_date   46409 non-null  object
 4   intake_time   46409 non-null  object
 5   outcome_date  46403 non-null  object
 6   outcome_time  46409 non-null  object
 7   intake_type   46409 non-null  object
 8   outcome_type  46409 non-null  object
dtypes: object(9)
memory usage: 3.2+ MB
None
DataFrame: shelter_dallas_2019_2020
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31918 entries, 0 to 31917
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     31918 non-null  object
 1   animal_type   31918 non-null  object
 2   animal_breed  31918 non-null  object
 3   intake_date   31918 non-null  object
 4   intake_time   31918 non-null  object
 5   outcome_date  31695 non-null  object
 6   outcome_time  31918 non-null  object
 7   intake_type   31918 non-null  object
 8   outcome_type  31918 non-null  object
dtypes: object(9)
memory usage: 2.2+ MB
None
DataFrame: shelter_dallas_2020_2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23870 entries, 0 to 23869
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     23870 non-null  object
 1   animal_type   23870 non-null  object
 2   animal_breed  23862 non-null  object
 3   intake_date   23870 non-null  object
 4   intake_time   23870 non-null  object
 5   outcome_date  23864 non-null  object
 6   outcome_time  23870 non-null  object
 7   intake_type   23870 non-null  object
 8   outcome_type  23870 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB
None
DataFrame: shelter_dallas_2021_2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28472 entries, 0 to 28471
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     28472 non-null  object
 1   animal_type   28472 non-null  object
 2   animal_breed  28427 non-null  object
 3   intake_date   28472 non-null  object
 4   intake_time   28472 non-null  object
 5   outcome_date  28466 non-null  object
 6   outcome_time  28472 non-null  object
 7   intake_type   28472 non-null  object
 8   outcome_type  28472 non-null  object
dtypes: object(9)
memory usage: 2.0+ MB
None
DataFrame: shelter_dallas_2022_2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34684 entries, 0 to 34683
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   animal_id     34684 non-null  object
 1   animal_type   34684 non-null  object
 2   animal_breed  34643 non-null  object
 3   intake_date   34684 non-null  object
 4   intake_time   34684 non-null  object
 5   outcome_date  34061 non-null  object
 6   outcome_time  34684 non-null  object
 7   intake_type   34684 non-null  object
 8   outcome_type  34684 non-null  object
dtypes: object(9)
memory usage: 2.4+ MB
None
DataFrame: per_capita_sonoma_income
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    53 non-null     object
 1   Sonoma  53 non-null     int64
dtypes: int64(1), object(1)
memory usage: 976.0+ bytes
None
DataFrame: per_capita_austin_income
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    53 non-null     object
 1   Austin  53 non-null     int64
dtypes: int64(1), object(1)
memory usage: 976.0+ bytes
None
DataFrame: per_capita_norfolk_income
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     53 non-null     object
 1   Norfolk  53 non-null     int64
dtypes: int64(1), object(1)
memory usage: 976.0+ bytes
None
DataFrame: per_capita_bloomington_income
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         53 non-null     object
 1   Bloomington  53 non-null     int64
dtypes: int64(1), object(1)
memory usage: 976.0+ bytes
None
DataFrame: per_capita_dallas_income
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    53 non-null     object
 1   Dallas  53 non-null     int64
dtypes: int64(1), object(1)
memory usage: 976.0+ bytes
None