In [1]:
import requests
import pandas as pd
from lookups import SourcesAPI
from io import StringIO

In [2]:
response = requests.get(SourcesAPI.PER_CAPITA_AUSTIN_INCOME.value)
if response.status_code == 200:
    df = pd.read_csv(StringIO(response.text))
else:
    print(f'Failed to download data. Status code: {response.status_code}')

In [7]:
df

          DATE  PCPI48015
0   1969-01-01       2852
1   1970-01-01       3259
2   1971-01-01       3701
3   1972-01-01       4239
4   1973-01-01       4421
5   1974-01-01       5213
6   1975-01-01       5943
7   1976-01-01       6724
8   1977-01-01       7051
9   1978-01-01       8011
10  1979-01-01       8981
11  1980-01-01       9833
12  1981-01-01      11366
13  1982-01-01      12102
14  1983-01-01      12515
15  1984-01-01      13661
16  1985-01-01      14346
17  1986-01-01      13904
18  1987-01-01      13964
19  1988-01-01      14991
20  1989-01-01      15972
21  1990-01-01      16294
22  1991-01-01      17178
23  1992-01-01      17988
24  1993-01-01      18379
25  1994-01-01      19903
26  1995-01-01      20315
27  1996-01-01      21813
28  1997-01-01      23895
29  1998-01-01      24734
30  1999-01-01      25594
31  2000-01-01      26865
32  2001-01-01      29255
33  2002-01-01      29415
34  2003-01-01      30244
35  2004-01-01      31330
36  2005-01-01      34215
37  2006-01-01      38238
38  2007-01-01      40273
39  2008-01-01      43258
40  2009-01-01      39514
41  2010-01-01      40214
42  2011-01-01      42000
43  2012-01-01      47474
44  2013-01-01      46616
45  2014-01-01      49701
46  2015-01-01      50727
47  2016-01-01      48332
48  2017-01-01      49081
49  2018-01-01      49990
50  2019-01-01      53854
51  2020-01-01      55151
52  2021-01-01      58284

In [29]:
df.iloc[:,[1]]

    PCPI48015
0       39514
1       40214
2       42000
3       47474
4       46616
5       49701
6       50727
7       48332
8       49081
9       49990
10      53854
11      55151
12      58284

In [6]:
import requests
import pandas as pd
from io import StringIO

# URL for downloading the CSV data
download_url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1138&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=PCPI48113&scale=left&cosd=1969-01-01&coed=2021-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2023-10-07&revision_date=2023-10-07&nd=1969-01-01'

# Send a GET request to the download URL
response = requests.get(download_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Read the CSV data into a pandas DataFrame
    df = pd.read_csv(StringIO(response.text))
else:
    print(f'Failed to download data. Status code: {response.status_code}')

In [8]:
df

          DATE  PCPI48113
0   1969-01-01       4445
1   1970-01-01       4670
2   1971-01-01       4928
3   1972-01-01       5428
4   1973-01-01       5956
5   1974-01-01       6557
6   1975-01-01       7066
7   1976-01-01       7607
8   1977-01-01       8363
9   1978-01-01       9554
10  1979-01-01      10766
11  1980-01-01      12028
12  1981-01-01      13488
13  1982-01-01      14621
14  1983-01-01      15690
15  1984-01-01      17398
16  1985-01-01      18625
17  1986-01-01      19047
18  1987-01-01      19372
19  1988-01-01      20204
20  1989-01-01      21178
21  1990-01-01      22107
22  1991-01-01      22021
23  1992-01-01      23149
24  1993-01-01      24004
25  1994-01-01      25129
26  1995-01-01      26251
27  1996-01-01      27978
28  1997-01-01      29637
29  1998-01-01      31892
30  1999-01-01      32570
31  2000-01-01      35657
32  2001-01-01      35802
33  2002-01-01      35637
34  2003-01-01      35798
35  2004-01-01      36242
36  2005-01-01      38414
37  2006-01-01      41501
38  2007-01-01      42859
39  2008-01-01      44871
40  2009-01-01      39487
41  2010-01-01      41358
42  2011-01-01      48103
43  2012-01-01      49018
44  2013-01-01      49620
45  2014-01-01      52568
46  2015-01-01      52995
47  2016-01-01      54307
48  2017-01-01      57126
49  2018-01-01      61413
50  2019-01-01      64488
51  2020-01-01      66125
52  2021-01-01      72218