In [ ]:
from database_handler import *

In [ ]:
session = create_connection()

In [ ]:
from transformation_handler import *

In [ ]:
mydata = clean_all_data(1000000)

In [ ]:
import datetime
sonoma = f"https://data.sonomacounty.ca.gov/resource/924a-vesw.json?$select=id,type,breed,color,sex,date_of_birth,intake_date,outcome_date,intake_type,outcome_type"

In [ ]:
print(datetime.datetime.now())

In [ ]:
response = requests.get(sonoma, params={'$limit': 1000000,'$where': "intake_date >= '2023-10-08' or outcome_date >= '2023-10-08'",'$order': 'intake_date ASC'})
df = pd.DataFrame(response.json())

In [2]:
from transformation_handler import *

In [1]:
from prehook import *
from hook import *
from lookups import *
from database_handler import *
import requests

In [2]:
execute_prehook()

Connecting to database "animal_intakes_outcomes"...
Connection was successful.
Closing connection to database...
Connection is closed.

In [3]:
execute_hook()

Connecting to database "animal_intakes_outcomes"...
Connection was successful.

c:\Users\olasm\Desktop\FSD - July 2023\week 9\FSD Final Project\database_handler.py:50: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return_dataframe = pd.read_sql_query(con= db_session, sql= file_path)

Error doing pandas transformations on Sonoma shelter dataset = "None of [Index(['intake_date', 'date_of_birth', 'outcome_date'], dtype='object')] are in the [columns]".
Error doing pandas transformations on Austin shelter dataset = 'intake_date'.
Error doing pandas transformations on Norfolk shelter dataset = 'years_old'.
Error doing pandas transformations on Bloomington shelter dataset = 'intake_date'.
Error doing pandas transformations on Dallas shelter datasets = 'intake_date'.
Error in: clean_all_data = "None of [Index(['type', 'breed', 'color', 'intake_type', 'sex', 'outcome_type'], dtype='object')] are in the [columns]".
Closing connection to database...
Connection is closed.

In [4]:
db_session = create_connection()

Connecting to database "animal_intakes_outcomes"...
Connection was successful.

In [15]:
etl_date, exists = return_etl_last_updated_date(db_session)
etl_date

c:\Users\olasm\Desktop\FSD - July 2023\week 9\FSD Final Project\database_handler.py:50: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return_dataframe = pd.read_sql_query(con= db_session, sql= file_path)

Timestamp('1900-10-08 00:00:00')

In [12]:
insert_data_into_stg_tables(db_session,DataWareHouseSchema.SCHEMA_NAME, etl_date.strftime("%Y-%m-%dT%H:%M:%S.%f"))

Error doing pandas transformations on Sonoma shelter dataset = unhashable type: 'dict'.
Error doing pandas transformations on Austin shelter dataset = 'intake_date'.
Error doing pandas transformations on Norfolk shelter dataset = 'years_old'.
Error doing pandas transformations on Bloomington shelter dataset = 'intake_date'.
Error doing pandas transformations on Dallas shelter datasets = unhashable type: 'dict'.
Error in: clean_all_data = "None of [Index(['type', 'breed', 'color', 'intake_type', 'sex', 'outcome_type'], dtype='object')] are in the [columns]".

In [24]:
condition = DateCondition.OTHER.value.replace('0',f"'{etl_date}'")
response = requests.get(DataSources.SHELTER_SONOMA.value, params={'$limit': 1000000, '$where':condition})
result = (DataSources.SHELTER_SONOMA.name.lower(), pd.DataFrame(response.json()))
result[1]

,id,type,breed,color,sex,intake_date,outcome_date,intake_type,outcome_type,date_of_birth
0,A420084,DOG,GERM SHEPHERD,BROWN/BLACK,Spayed,2023-08-31T00:00:00.000,2023-10-02T00:00:00.000,STRAY,EUTHANIZE,NaN
1,A420188,CAT,DOMESTIC SH,BRN TABBY,Male,2023-09-05T00:00:00.000,2023-10-02T00:00:00.000,STRAY,DIED,2023-08-05T00:00:00.000
2,A420842,DOG,PIT BULL,BLACK/WHITE,Male,2023-10-02T00:00:00.000,NaN,QUARANTINE,NaN,2012-10-02T00:00:00.000
3,A420859,DOG,BASENJI/MIX,TAN/WHITE,Female,2023-10-03T00:00:00.000,NaN,STRAY,NaN,NaN
4,A420866,CAT,DOMESTIC SH,AGOUTI,Unknown,2023-10-03T00:00:00.000,2023-10-03T00:00:00.000,STRAY,TRANSFER,NaN
...,...,...,...,...,...,...,...,...,...,...
175,A421230,CAT,DOMESTIC SH,CALICO/BRN TABBY,Female,2023-10-14T00:00:00.000,NaN,STRAY,NaN,2023-08-14T00:00:00.000
176,A421238,DOG,CHIHUAHUA LH/MIX,WHITE,Female,2023-10-14T00:00:00.000,NaN,STRAY,NaN,2023-01-14T00:00:00.000
177,A421236,DOG,CHIHUAHUA SH/MIX,TAN/WHITE,Male,2023-10-14T00:00:00.000,NaN,STRAY,NaN,2021-10-14T00:00:00.000
178,A421237,DOG,CHIHUAHUA SH,TAN/WHITE,Female,2023-10-14T00:00:00.000,NaN,STRAY,NaN,2023-01-14T00:00:00.000
179,A420097,DOG,LABRADOR RETR,CHOCOLATE/WHITE,Spayed,2023-09-01T00:00:00.000,2023-10-14T00:00:00.000,STRAY,ADOPTION,2019-09-01T00:00:00.000

In [17]:
# source_dfs_dict = readData(etl_date = etl_date.strftime("%Y-%m-%dT%H:%M:%S.%f"), limit=10000000)
stg_dfs_dict = clean_all_data(source_dfs_dict)

In [16]:
for key, value in source_dfs_dict.items():
    print(key)
    print(value)

shelter_sonoma
            id type                         breed            color       sex  \
0      A328255  DOG            MALTESE/POODLE TOY            WHITE    Spayed
1      A420799  CAT                   DOMESTIC SH            BLACK   Unknown
2      A420773  CAT                   DOMESTIC LH      BLACK/WHITE  Neutered
3      A420810  CAT                   DOMESTIC SH        BRN TABBY      Male
4      A417889  CAT                   DOMESTIC SH  ORG TABBY/WHITE    Spayed
...        ...  ...                           ...              ...       ...
26375  A320109  DOG                  PIT BULL/MIX  CHOCOLATE/WHITE    Spayed
26376  A310168  CAT                   DOMESTIC SH  BRN TABBY/WHITE  Neutered
26377  A345933  DOG             GERM SHEPHERD/MIX            BROWN  Neutered
26378  A412870  CAT                   DOMESTIC SH       BLUE CREAM    Spayed
26379  A314617  DOG  LABRADOR RETR/PORT WATER DOG            BLACK    Spayed

                 date_of_birth              intake_date  \
0      2014-10-06T00:00:00.000  2023-07-05T00:00:00.000
1                          NaN  2023-09-30T00:00:00.000
2      2013-09-29T00:00:00.000  2023-09-29T00:00:00.000
3      2023-08-15T00:00:00.000  2023-09-30T00:00:00.000
4      2023-05-07T00:00:00.000  2023-05-30T00:00:00.000
...                        ...                      ...
26375  2013-04-15T00:00:00.000  2017-11-01T00:00:00.000
26376  2014-04-14T00:00:00.000  2014-08-14T00:00:00.000
26377  2014-12-07T00:00:00.000  2016-12-07T00:00:00.000
26378  2022-07-12T00:00:00.000  2022-08-16T00:00:00.000
26379                      NaN  2014-12-04T00:00:00.000

                  outcome_date intake_type     outcome_type
0      2023-08-08T00:00:00.000       STRAY         ADOPTION
1      2023-09-30T00:00:00.000       STRAY         TRANSFER
2      2023-09-30T00:00:00.000       STRAY  RETURN TO OWNER
3      2023-09-30T00:00:00.000       STRAY         TRANSFER
4      2023-08-08T00:00:00.000       STRAY         ADOPTION
...                        ...         ...              ...
26375  2017-11-02T00:00:00.000       STRAY  RETURN TO OWNER
26376  2014-08-23T00:00:00.000       STRAY         ADOPTION
26377  2016-12-07T00:00:00.000       STRAY  RETURN TO OWNER
26378  2022-09-29T00:00:00.000       STRAY         ADOPTION
26379  2014-12-04T00:00:00.000       STRAY  RETURN TO OWNER

[26380 rows x 10 columns]
shelter_austin_intakes
       animal_id animal_type                        breed              color  \
0        A665644         Cat       Domestic Shorthair Mix             Calico
1        A665739         Cat     Domestic Medium Hair Mix              Black
2        A665763         Dog            Cairn Terrier Mix          Tan/White
3        A379998         Dog                     Pit Bull              Black
4        A634503         Dog          Norfolk Terrier Mix                Tan
...          ...         ...                          ...                ...
156282   A886667         Cat           Domestic Shorthair  Brown Tabby/White
156283   A883852         Cat            Domestic Longhair        Brown Tabby
156284   A886631         Cat                      Siamese         Lynx Point
156285   A882170         Dog  Labrador Retriever/Pit Bull        Black/White
156286   A886632         Cat                     Snowshoe       White/Silver

                       datetime      intake_type
0       2013-10-21T07:59:00.000            Stray
1       2013-10-22T11:11:00.000            Stray
2       2013-10-22T15:10:00.000            Stray
3       2013-10-23T11:42:00.000            Stray
4       2013-10-01T14:49:00.000  Owner Surrender
...                         ...              ...
156282  2023-08-09T09:49:00.000  Owner Surrender
156283  2023-06-24T15:00:00.000        Abandoned
156284  2023-08-08T14:56:00.000            Stray
156285  2023-08-09T12:02:00.000  Owner Surrender
156286  2023-08-08T14:56:00.000            Stray

[156287 rows x 6 columns]
shelter_austin_outcomes
       animal_id sex_upon_outcome            date_of_birth  \
0        A794011    Neutered Male  2017-05-02T00:00:00.000
1        A776359    Neutered Male  2017-07-12T00:00:00.000
2        A821648          Unknown  2019-08-16T00:00:00.000
3        A720371    Neutered Male  2015-10-08T00:00:00.000
4        A674754      Intact Male  2014-03-12T00:00:00.000
...          ...              ...                      ...
156230   A859974    Spayed Female  2012-06-21T00:00:00.000
156231   A856973    Spayed Female  2021-05-10T00:00:00.000
156232   A852036    Spayed Female  2021-12-08T00:00:00.000
156233   A852775    Spayed Female  2022-01-31T00:00:00.000
156234   A854626    Neutered Male  2022-02-27T00:00:00.000

                       datetime outcome_type
0       2019-05-08T18:20:00.000    Rto-Adopt
1       2018-07-18T16:02:00.000     Adoption
2       2020-08-16T11:38:00.000   Euthanasia
3       2016-02-13T17:59:00.000     Adoption
4       2014-03-18T11:47:00.000     Transfer
...                         ...          ...
156230  2022-08-16T11:42:00.000     Adoption
156231  2022-06-11T15:39:00.000     Adoption
156232  2022-03-17T17:22:00.000     Adoption
156233  2022-05-18T14:13:00.000     Adoption
156234  2022-05-03T16:10:00.000     Adoption

[156235 rows x 5 columns]
shelter_norfolk
      animal_id animal_type   primary_breed primary_color            sex  \
0       A000218         Cat     DOMESTIC LH          GRAY  Neutered Male
1       A001474         Dog   LABRADOR RETR        YELLOW  Neutered Male
2       A001699         Dog  YORKSHIRE TERR         BLACK  Neutered Male
3       A001699         Dog  YORKSHIRE TERR         BLACK  Neutered Male
4       A002332         Dog      POODLE MIN         BLACK  Spayed Female
...         ...         ...             ...           ...            ...
27913   A070776         Cat     DOMESTIC SH         BLACK        Unknown
27914   A070791         Dog   LABRADOR RETR        YELLOW           Male
27915   A070794         Dog   STAFFORDSHIRE          GRAY         Female
27916   A070837         Cat     DOMESTIC SH         BLACK         Female
27917   A070839       Other         RACCOON         BLACK        Unknown

      years_old months_old              intake_date             outcome_date  \
0             0          3  2020-12-13T00:00:00.000  2020-12-18T00:00:00.000
1             1          0  2021-10-19T00:00:00.000  2021-10-19T00:00:00.000
2            13        NaN  2019-01-05T00:00:00.000  2019-01-05T00:00:00.000
3            13        NaN  2019-01-05T00:00:00.000  2019-01-22T00:00:00.000
4             0          0  2021-10-23T00:00:00.000  2021-10-23T00:00:00.000
...         ...        ...                      ...                      ...
27913       NaN       0.65  2023-10-06T00:00:00.000  2023-10-06T00:00:00.000
27914         3        NaN  2023-10-07T00:00:00.000  2023-10-07T00:00:00.000
27915         7        NaN  2023-10-08T00:00:00.000  2023-10-08T00:00:00.000
27916       NaN          1  2023-10-12T00:00:00.000  2023-10-12T00:00:00.000
27917         1        NaN  2023-10-12T00:00:00.000  2023-10-12T00:00:00.000

                            intake_type              outcome_type
0                     Owner Surrendered                  Adoption
1                                 Stray           Return to Owner
2                                 Stray           Return to Owner
3                     Owner Surrendered                  Transfer
4      Disposal Request of Deceased Pet  Disposal of Deceased Pet
...                                 ...                       ...
27913  Disposal Request of Deceased Pet  Disposal of Deceased Pet
27914                             Stray           Return to Owner
27915                             Stray           Return to Owner
27916                             Stray                    Foster
27917  Disposal Request of Deceased Pet  Disposal of Deceased Pet

[27918 rows x 11 columns]
shelter_bloomington
          id speciesname                breedname            basecolour  \
0      15801         Cat      Domestic Short Hair         Tortoiseshell
1      15932         Dog  German Shepherd Dog/Mix                   Tan
2      28859         Dog  Shep Mix/Siberian Husky               Various
3      28859         Dog  Shep Mix/Siberian Husky               Various
4      30812         Cat      Domestic Short Hair  Dilute tortoiseshell
...      ...         ...                      ...                   ...
30582  78172         Dog                 Shih Tzu               Various
30583  78172         Dog                 Shih Tzu               Various
30584  78177         Dog                      Pug         Black and Tan
30585  78179         Dog        Yorkshire Terrier         Tan and Brown
30586  78189         Dog          Bully Breed Mix               Various

      sexname           animalage               intakedate  \
0      Female  12 years 6 months.  2009-11-28T00:00:00.000
1        Male  12 years 5 months.  2009-12-08T00:00:00.000
2      Female  9 years 10 months.  2012-08-10T00:00:00.000
3      Female  9 years 10 months.  2012-08-10T00:00:00.000
4      Female  12 years 3 months.  2013-01-11T00:00:00.000
...       ...                 ...                      ...
30582  Female    1 year 0 months.  2023-10-10T16:04:29.000
30583  Female    1 year 0 months.  2023-10-10T16:04:29.000
30584  Female  10 years 0 months.  2023-10-10T16:21:04.000
30585    Male   6 years 0 months.  2023-10-10T17:22:17.000
30586  Female    1 year 0 months.  2023-10-12T12:28:46.000

                  movementdate                       intakereason movementtype
0      2017-05-13T00:00:00.000                             Moving     Adoption
1      2017-04-24T00:00:00.000                             Moving     Adoption
2      2017-04-15T00:00:00.000                          Abandoned     Adoption
3      2020-02-29T00:00:00.000                          Abandoned    Reclaimed
4      2017-04-18T00:00:00.000                          Abandoned       Foster
...                        ...                                ...          ...
30582                      NaN  Incompatible with owner lifestyle         None
30583                      NaN  Incompatible with owner lifestyle         None
30584  2023-10-12T00:00:00.000                          Abandoned       Foster
30585                      NaN                      Police Assist         None
30586  2023-10-12T00:00:00.000                              Stray    Reclaimed

[30587 rows x 10 columns]
shelter_dallas_2017_2018
      animal_id animal_type  animal_breed              intake_date  \
0      A1010395         CAT   DOMESTIC SH  2017-10-04T00:00:00.000
1      A1010513         CAT   DOMESTIC SH  2017-10-05T00:00:00.000
2      A1010514         CAT   DOMESTIC SH  2017-10-05T00:00:00.000
3      A1010853         CAT   DOMESTIC SH  2017-10-09T00:00:00.000
4      A1011757         DOG      PIT BULL  2017-10-17T00:00:00.000
...         ...         ...           ...                      ...
37214  A1083885         DOG  CHIHUAHUA LH  2018-09-29T00:00:00.000
37215  A1084745         CAT   DOMESTIC LH  2018-09-21T00:00:00.000
37216  A1084746         CAT   DOMESTIC LH  2018-09-21T00:00:00.000
37217  A1084747         CAT   DOMESTIC LH  2018-09-21T00:00:00.000
37218  A1087289         DOG  SCOT TERRIER  2018-07-01T00:00:00.000

      intake_time             outcome_date outcome_time  intake_type  \
0        11:35:00  2017-10-09T00:00:00.000     11:19:00        STRAY
1        14:00:00  2017-10-05T00:00:00.000     15:36:00        STRAY
2        14:00:00  2017-10-05T00:00:00.000     15:37:00        STRAY
3        11:59:00  2017-11-16T00:00:00.000     14:49:00  CONFISCATED
4        23:39:00  2017-10-18T00:00:00.000     11:42:00        STRAY
...           ...                      ...          ...          ...
37214    15:25:00  2019-10-29T00:00:00.000     00:00:00        STRAY
37215    15:25:00  2019-11-07T00:00:00.000     00:00:00        STRAY
37216    15:25:00  2019-11-07T00:00:00.000     00:00:00        STRAY
37217    15:25:00  2019-11-07T00:00:00.000     00:00:00        STRAY
37218    22:25:00  2019-12-02T00:00:00.000     00:00:00        STRAY

      outcome_type
0       EUTHANIZED
1       EUTHANIZED
2       EUTHANIZED
3       EUTHANIZED
4       EUTHANIZED
...            ...
37214     LOST EXP
37215     LOST EXP
37216     LOST EXP
37217     LOST EXP
37218     LOST EXP

[37219 rows x 9 columns]
shelter_dallas_2018_2019
      animal_id animal_type   animal_breed              intake_date  \
0      A0002585         DOG  GERM SHEPHERD  2019-03-03T00:00:00.000
1      A0014639         DOG       PIT BULL  2018-10-03T00:00:00.000
2      A0100167         DOG   CHIHUAHUA SH  2019-01-26T00:00:00.000
3      A0112749         DOG       PIT BULL  2019-06-08T00:00:00.000
4      A0154626         CAT    DOMESTIC SH  2018-12-31T00:00:00.000
...         ...         ...            ...                      ...
46404  A1088148         DOG       PIT BULL  2019-06-04T00:00:00.000
46405  A1088167         DOG       PIT BULL  2019-08-31T00:00:00.000
46406  A1088809         CAT    DOMESTIC SH  2019-06-09T00:00:00.000
46407  A1090054         DOG     POMERANIAN  2019-08-27T00:00:00.000
46408  A7162162         DOG  CAIRN TERRIER  2019-05-09T00:00:00.000

      intake_time             outcome_date outcome_time      intake_type  \
0        16:00:00  2019-03-03T00:00:00.000     16:03:00            STRAY
1        22:04:00  2018-10-12T00:00:00.000     12:21:00            STRAY
2        13:21:00  2019-01-26T00:00:00.000     17:06:00  OWNER SURRENDER
3        14:29:00  2019-06-08T00:00:00.000     14:29:00            STRAY
4        12:51:00  2018-12-31T00:00:00.000     13:12:00  OWNER SURRENDER
...           ...                      ...          ...              ...
46404    22:25:00                      NaN     00:00:00            STRAY
46405    08:25:00                      NaN     00:00:00            STRAY
46406    10:25:00                      NaN     00:00:00            STRAY
46407    13:25:00                      NaN     00:00:00            STRAY
46408    12:03:00  2019-05-09T00:00:00.000     12:58:00            STRAY

            outcome_type
0      RETURNED TO OWNER
1               TRANSFER
2             EUTHANIZED
3      RETURNED TO OWNER
4             EUTHANIZED
...                  ...
46404              OTHER
46405              OTHER
46406              OTHER
46407              OTHER
46408         EUTHANIZED

[46409 rows x 9 columns]
shelter_dallas_2019_2020
      animal_id animal_type    animal_breed              intake_date  \
0      A1093136         CAT     DOMESTIC SH  2020-01-12T00:00:00.000
1      A1046046         DOG        PIT BULL  2019-11-28T00:00:00.000
2      A1098758        BIRD            HAWK  2020-03-17T00:00:00.000
3      A1061310         DOG   LABRADOR RETR  2019-12-18T00:00:00.000
4      A1091970         CAT     DOMESTIC SH  2019-12-28T00:00:00.000
...         ...         ...             ...                      ...
31913  A1091105         DOG    CHIHUAHUA SH  2019-12-17T00:00:00.000
31914  A1091106         DOG    CHIHUAHUA LH  2019-12-17T00:00:00.000
31915  A1091115         DOG  FRENCH BULLDOG  2019-12-17T00:00:00.000
31916  A1091120         DOG         BULLDOG  2019-12-17T00:00:00.000
31917  A1091121         DOG        PIT BULL  2019-12-17T00:00:00.000

      intake_time             outcome_date outcome_time      intake_type  \
0        11:37:00  2020-01-12T00:00:00.000     14:46:00            STRAY
1        12:52:00  2019-12-19T00:00:00.000     14:56:00            STRAY
2        13:13:00  2020-03-17T00:00:00.000     15:18:00         WILDLIFE
3        05:11:00  2019-12-18T00:00:00.000     13:33:00            STRAY
4        14:36:00  2019-12-30T00:00:00.000     15:47:00  OWNER SURRENDER
...           ...                      ...          ...              ...
31913    12:41:00  2019-12-17T00:00:00.000     00:00:00            STRAY
31914    12:43:00  2019-12-17T00:00:00.000     12:47:00            STRAY
31915    13:55:00  2019-12-17T00:00:00.000     00:00:00            STRAY
31916    13:59:00  2019-12-17T00:00:00.000     14:04:00            STRAY
31917    13:59:00  2019-12-17T00:00:00.000     14:04:00            STRAY

            outcome_type
0                 FOSTER
1               ADOPTION
2               WILDLIFE
3      RETURNED TO OWNER
4               ADOPTION
...                  ...
31913  RETURNED TO OWNER
31914  RETURNED TO OWNER
31915  RETURNED TO OWNER
31916  RETURNED TO OWNER
31917  RETURNED TO OWNER

[31918 rows x 9 columns]
shelter_dallas_2020_2021
      animal_id animal_type    animal_breed              intake_date  \
0      A1092882         CAT         AMER SH  2021-01-06T00:00:00.000
1      A1104327         DOG        PIT BULL  2020-10-03T00:00:00.000
2      A1096777         DOG        SHIH TZU  2020-12-23T00:00:00.000
3      A1106291         DOG  YORKSHIRE TERR  2020-11-18T00:00:00.000
4      A1108449         DOG    CHIHUAHUA SH  2020-10-05T00:00:00.000
...         ...         ...             ...                      ...
23865  A1129204         DOG   GERM SHEPHERD  2021-09-10T00:00:00.000
23866  A1126851         DOG         POINTER  2021-08-05T00:00:00.000
23867  A1129979         DOG        PIT BULL  2021-09-22T00:00:00.000
23868  A1129069         DOG        PIT BULL  2021-09-08T00:00:00.000
23869  A1129747         DOG  ST BERNARD RGH  2021-09-18T00:00:00.000

      intake_time             outcome_date outcome_time      intake_type  \
0        15:25:00  2020-02-08T00:00:00.000     00:00:00            STRAY
1        09:34:00  2020-10-04T00:00:00.000     11:00:00        TREATMENT
2        09:25:00  2020-03-26T00:00:00.000     00:00:00            STRAY
3        18:25:00  2020-09-24T00:00:00.000     00:00:00            STRAY
4        11:24:00  2020-10-07T00:00:00.000     16:19:00  OWNER SURRENDER
...           ...                      ...          ...              ...
23865    11:54:00  2021-09-22T00:00:00.000     14:24:00            STRAY
23866    09:29:00  2021-08-12T00:00:00.000     13:59:00         TRANSFER
23867    14:30:00  2021-09-22T00:00:00.000     17:10:00            STRAY
23868    15:18:00  2021-09-22T00:00:00.000     12:52:00            STRAY
23869    15:03:00  2021-09-22T00:00:00.000     16:11:00            STRAY

            outcome_type
0               LOST EXP
1              TREATMENT
2               LOST EXP
3               LOST EXP
4               ADOPTION
...                  ...
23865           ADOPTION
23866           TRANSFER
23867  RETURNED TO OWNER
23868  RETURNED TO OWNER
23869  RETURNED TO OWNER

[23870 rows x 9 columns]
shelter_dallas_2021_2022
      animal_id animal_type   animal_breed              intake_date  \
0      A0101596         DOG  GERM SHEPHERD  2022-06-04T00:00:00.000
1      A0113667         DOG     POMERANIAN  2021-12-09T00:00:00.000
2      A0517410         CAT    DOMESTIC SH  2021-12-01T00:00:00.000
3      A0524957         CAT    DOMESTIC SH  2022-04-17T00:00:00.000
4      A0525959         DOG        SPANIEL  2022-05-04T00:00:00.000
...         ...         ...            ...                      ...
28467  A1163056         CAT        AMER SH  2022-08-31T00:00:00.000
28468  A1163100         DOG         BEAGLE  2022-06-20T00:00:00.000
28469  A1164229         DOG    MIXED BREED  2022-05-03T00:00:00.000
28470  A1175481         CAT    DOMESTIC SH  2022-05-20T00:00:00.000
28471  A7754519         CAT        AMER SH  2022-08-07T00:00:00.000

      intake_time             outcome_date outcome_time      intake_type  \
0        13:20:00  2022-06-06T00:00:00.000     13:39:00  OWNER SURRENDER
1        13:48:00  2021-12-15T00:00:00.000     16:10:00  OWNER SURRENDER
2        11:32:00  2021-12-02T00:00:00.000     14:59:00  OWNER SURRENDER
3        21:25:00  2022-04-20T00:00:00.000     17:09:00         KEEPSAFE
4        09:58:00  2022-05-05T00:00:00.000     17:21:00            STRAY
...           ...                      ...          ...              ...
28467    12:25:00                      NaN     00:00:00            STRAY

In [18]:
for key, value in stg_dfs_dict.items():
    print(key)
    print(value)

intakes_outcomes_sonoma
        animal_id type                         breed              color  \
0      SO-A328255  Dog            Maltese/Poodle Toy              White
1      SO-A420799  Cat                   Domestic Sh              Black
2      SO-A420773  Cat                   Domestic Lh        Black/White
3      SO-A420810  Cat                   Domestic Sh        Brown Tabby
4      SO-A417889  Cat                   Domestic Sh    Org Tabby/White
...           ...  ...                           ...                ...
26375  SO-A320109  Dog                  Pit Bull/Mix    Chocolate/White
26376  SO-A310168  Cat                   Domestic Sh  Brown Tabby/White
26377  SO-A345933  Dog             Germ Shepherd/Mix              Brown
26378  SO-A412870  Cat                   Domestic Sh         Blue Cream
26379  SO-A314617  Dog  Labrador Retr/Port Water Dog              Black

            sex date_of_birth intake_date outcome_date intake_type  \
0        Spayed    2014-10-06  2023-07-05   2023-08-08       Stray
1       Unknown    2262-04-11  2023-09-30   2023-09-30       Stray
2      Neutered    2013-09-29  2023-09-29   2023-09-30       Stray
3          Male    2023-08-15  2023-09-30   2023-09-30       Stray
4        Spayed    2023-05-07  2023-05-30   2023-08-08       Stray
...         ...           ...         ...          ...         ...
26375    Spayed    2013-04-15  2017-11-01   2017-11-02       Stray
26376  Neutered    2014-04-14  2014-08-14   2014-08-23       Stray
26377  Neutered    2014-12-07  2016-12-07   2016-12-07       Stray
26378    Spayed    2022-07-12  2022-08-16   2022-09-29       Stray
26379    Spayed    2262-04-11  2014-12-04   2014-12-04       Stray

          outcome_type  region
0             Adoption  Sonoma
1             Transfer  Sonoma
2      Return To Owner  Sonoma
3             Transfer  Sonoma
4             Adoption  Sonoma
...                ...     ...
26375  Return To Owner  Sonoma
26376         Adoption  Sonoma
26377  Return To Owner  Sonoma
26378         Adoption  Sonoma
26379  Return To Owner  Sonoma

[26378 rows x 11 columns]
intakes_outcomes_austin
          animal_id type                                     breed  \
0       AUS-A521520  Dog              Border Terrier/Border Collie
1       AUS-A664236  Cat                    Domestic Shorthair Mix
2       AUS-A664237  Cat                    Domestic Shorthair Mix
3       AUS-A664235  Cat                    Domestic Shorthair Mix
4       AUS-A664233  Dog                              Pit Bull Mix
...             ...  ...                                       ...
140170  AUS-A890928  Dog                                  Pit Bull
140171  AUS-A890932  Dog                       German Shepherd Mix
140172  AUS-A890933  Dog                    Labrador Retriever Mix
140173  AUS-A890925  Dog                            French Bulldog
140174  AUS-A890948  Dog  Labrador Retriever/Australian Cattle Dog

                      color         intake_date intake_type      sex  \
0                 White/Tan 2013-10-01 07:51:00       Stray   Spayed
1              Orange/White 2013-10-01 08:33:00       Stray  Unknown
2              Orange/White 2013-10-01 08:33:00       Stray  Unknown
3              Orange/White 2013-10-01 08:33:00       Stray  Unknown
4                Blue/White 2013-10-01 08:53:00       Stray   Female
...                     ...                 ...         ...      ...
140170  White/Brown Brindle 2023-10-14 16:27:00       Stray      nan
140171                  Tan 2023-10-14 20:32:00       Stray      nan
140172                  Tan 2023-10-14 21:38:00       Stray      nan
140173                 Blue 2023-10-15 08:22:00       Stray      nan
140174          Black/White 2023-10-15 08:29:00       Stray      nan

       date_of_birth        outcome_date     outcome_type  region
0         2006-09-07 2013-10-01 15:39:00  Return to Owner  Austin
1         2013-09-24 2013-10-01 10:44:00         Transfer  Austin
2         2013-09-24 2013-10-01 10:44:00         Transfer  Austin
3         2013-09-24 2013-10-01 10:39:00         Transfer  Austin
4         2010-09-30 2013-10-01 15:33:00        Euthanize  Austin
...              ...                 ...              ...     ...
140170    2262-04-11 2262-04-11 00:00:00          Pending  Austin
140171    2262-04-11 2262-04-11 00:00:00          Pending  Austin
140172    2262-04-11 2262-04-11 00:00:00          Pending  Austin
140173    2262-04-11 2262-04-11 00:00:00          Pending  Austin
140174    2262-04-11 2262-04-11 00:00:00          Pending  Austin

[140175 rows x 11 columns]
intakes_outcomes_norfolk
         animal_id   type           breed   color       sex intake_date  \
0      NOR-A000218    Cat     Domestic Lh    Gray  Neutered  2020-12-13
1      NOR-A001474    Dog   Labrador Retr  Yellow  Neutered  2021-10-19
2      NOR-A001699    Dog  Yorkshire Terr   Black  Neutered  2019-01-05
3      NOR-A001699    Dog  Yorkshire Terr   Black  Neutered  2019-01-05
4      NOR-A002332    Dog      Poodle Min   Black    Spayed  2021-10-23
...            ...    ...             ...     ...       ...         ...
27878  NOR-A070776    Cat     Domestic Sh   Black   Unknown  2023-10-06
27879  NOR-A070791    Dog   Labrador Retr  Yellow      Male  2023-10-07
27880  NOR-A070794    Dog   Staffordshire    Gray    Female  2023-10-08
27881  NOR-A070837    Cat     Domestic Sh   Black    Female  2023-10-12
27882  NOR-A070839  Other         Raccoon   Black   Unknown  2023-10-12

      outcome_date                       intake_type     outcome_type  \
0       2020-12-18                   Owner Surrender         Adoption
1       2021-10-19                             Stray  Return to Owner
2       2019-01-05                             Stray  Return to Owner
3       2019-01-22                   Owner Surrender         Transfer
4       2021-10-23  Disposal Request of Deceased Pet         Disposal
...            ...                               ...              ...
27878   2023-10-06  Disposal Request of Deceased Pet         Disposal
27879   2023-10-07                             Stray  Return to Owner
27880   2023-10-08                             Stray  Return to Owner
27881   2023-10-12                             Stray           Foster
27882   2023-10-12  Disposal Request of Deceased Pet         Disposal

            date_of_birth   region
0     2020-09-14 00:00:00  Norfolk
1     2020-10-24 00:00:00  Norfolk
2     2006-03-14 00:00:00  Norfolk
3     2006-03-14 00:00:00  Norfolk
4     2021-10-23 00:00:00  Norfolk
...                   ...      ...
27878 2023-09-16 12:00:00  Norfolk
27879 2020-10-22 00:00:00  Norfolk
27880 2016-11-13 00:00:00  Norfolk
27881 2023-09-12 00:00:00  Norfolk
27882 2022-10-17 00:00:00  Norfolk

[27883 rows x 11 columns]
intakes_outcomes_bloomington
             id type                    breed                 color     sex  \
0      BL-15801  Cat      Domestic Short Hair         Tortoiseshell  Female
1      BL-15932  Dog  German Shepherd Dog/Mix                   Tan    Male
2      BL-28859  Dog  Shep Mix/Siberian Husky               Various  Female
3      BL-28859  Dog  Shep Mix/Siberian Husky               Various  Female
4      BL-30812  Cat      Domestic Short Hair  Dilute tortoiseshell  Female
...         ...  ...                      ...                   ...     ...
27919  BL-78172  Dog                 Shih Tzu               Various  Female
27920  BL-78172  Dog                 Shih Tzu               Various  Female
27921  BL-78177  Dog                      Pug         Black and Tan  Female
27922  BL-78179  Dog        Yorkshire Terrier         Tan and Brown    Male
27923  BL-78189  Dog          Bully Breed Mix               Various  Female

              intake_date outcome_date                        intake_type  \
0     2009-11-28 00:00:00   2017-05-13                    Owner Surrender
1     2009-12-08 00:00:00   2017-04-24                    Owner Surrender
2     2012-08-10 00:00:00   2017-04-15                          Abandoned
3     2012-08-10 00:00:00   2020-02-29                          Abandoned
4     2013-01-11 00:00:00   2017-04-18                          Abandoned
...                   ...          ...                                ...
27919 2023-10-10 16:04:29   2023-10-12  Incompatible with owner lifestyle
27920 2023-10-10 16:04:29   2262-04-11  Incompatible with owner lifestyle
27921 2023-10-10 16:21:04   2023-10-12                          Abandoned
27922 2023-10-10 17:22:17   2262-04-11                      Police Assist
27923 2023-10-12 12:28:46   2023-10-12                              Stray

          outcome_type       date_of_birth       region
0             Adoption 1997-06-04 00:00:00  Bloomington
1             Adoption 1997-07-14 00:00:00  Bloomington
2             Adoption 2002-10-17 00:00:00  Bloomington
3      Return to Owner 2002-10-17 00:00:00  Bloomington
4               Foster 2000-10-16 00:00:00  Bloomington
...                ...                 ...          ...
27919           Foster 2022-10-10 16:04:29  Bloomington
27920          Pending 2022-10-10 16:04:29  Bloomington
27921           Foster 2013-10-12 16:21:04  Bloomington
27922          Pending 2017-10-11 17:22:17  Bloomington
27923  Return to Owner 2022-10-12 12:28:46  Bloomington

[27924 rows x 11 columns]
intakes_outcomes_dallas
           animal_id type         breed         intake_date  \
0       DAL-A1010395  Cat   Domestic Sh 2017-10-04 11:35:00
1       DAL-A1010513  Cat   Domestic Sh 2017-10-05 14:00:00
2       DAL-A1010514  Cat   Domestic Sh 2017-10-05 14:00:00
3       DAL-A1010853  Cat   Domestic Sh 2017-10-09 11:59:00
4       DAL-A1011757  Dog      Pit Bull 2017-10-17 23:39:00
...              ...  ...           ...                 ...
202537  DAL-A1191103  Dog  Basset Hound 2023-09-27 10:19:00
202538  DAL-A1191391  Dog   Mixed Breed 2023-09-30 17:42:00
202539  DAL-A1191290  Cat   Domestic Sh 2023-09-29 15:08:00
202540  DAL-A1189828  Dog   Mixed Breed 2023-09-12 14:42:00
202541  DAL-A1186612  Dog   Mixed Breed 2023-09-26 16:00:00

              outcome_date      intake_type outcome_type  region   sex color  \
0      2017-10-09 11:19:00            Stray    Euthanize  Dallas  None  None
1      2017-10-05 15:36:00            Stray    Euthanize  Dallas  None  None
2      2017-10-05 15:37:00            Stray    Euthanize  Dallas  None  None
3      2017-11-16 14:49:00       Confiscate    Euthanize  Dallas  None  None
4      2017-10-18 11:42:00            Stray    Euthanize  Dallas  None  None
...                    ...              ...          ...     ...   ...   ...
202537 2262-04-11 00:00:00  Owner Surrender     Adoption  Dallas  None  None
202538 2262-04-11 00:00:00            Stray        Other  Dallas  None  None
202539 2023-10-10 15:46:00            Stray       Foster  Dallas  None  None
202540 2023-10-07 15:15:00            Stray       Foster  Dallas  None  None
202541 2262-04-11 00:00:00         Transfer     Adoption  Dallas  None  None

       date_of_birth
0         2262-04-11
1         2262-04-11
2         2262-04-11
3         2262-04-11
4         2262-04-11
...              ...
202537    2262-04-11
202538    2262-04-11
202539    2262-04-11
202540    2262-04-11
202541    2262-04-11

[202542 rows x 11 columns]
per_capita_sonoma_income
    year  Sonoma
0   2009   41522
1   2010   42727
2   2011   44599
3   2012   46586
4   2013   48046
5   2014   50603
6   2015   54373
7   2016   56305
8   2017   58500
9   2018   61682
10  2019   66715
11  2020   73526
12  2021   81006
per_capita_austin_income
    year  Austin
0   2009   39514
1   2010   40214
2   2011   42000
3   2012   47474
4   2013   46616
5   2014   49701
6   2015   50727
7   2016   48332
8   2017   49081
9   2018   49990
10  2019   53854
11  2020   55151
12  2021   58284
per_capita_norfolk_income
    year  Norfolk
0   2009    33610
1   2010    34007
2   2011    34676
3   2012    35587
4   2013    35364
5   2014    36446
6   2015    37372
7   2016    38236
8   2017    39287
9   2018    38821
10  2019    40294
11  2020    43062
12  2021    46923
per_capita_bloomington_monroe_income
    year  Bloomington
0   2009        30962
1   2010        31200
2   2011        32929
3   2012        34332
4   2013        34493
5   2014        36209
6   2015        38030
7   2016        39846
8   2017        42093
9   2018        44062
10  2019        46097
11  2020        48974
12  2021        52392
per_capita_dallas_income
    year  Dallas
0   2009   39487
1   2010   41358
2   2011   48103
3   2012   49018
4   2013   49620
5   2014   52568
6   2015   52995
7   2016   54307
8   2017   57126
9   2018   61413
10  2019   64488
11  2020   66125
12  2021   72218
population_sonoma
    year   Sonoma
0   2009  471.349
1   2010  484.675
2   2011  487.231
3   2012  489.784
4   2013  493.870
5   2014  498.317
6   2015  500.598
7   2016  502.445
8   2017  502.203
9   2018  497.221
10  2019  492.318
11  2020  488.281
12  2021  484.315
13  2022  482.650
population_austin
    year  Austin
0   2010  806423
1   2011  828694
2   2012  854841
3   2013  875463
4   2014  901734
5   2015  921545
6   2016  939768
7   2017  951750
8   2018  964254
9   2019  978908
10  2020  961855
11  2021  964000
12  2022  976696
13  2023  982852
population_norfolk
    year  Norfolk
0   2010   242998
1   2011   243632
2   2012   246141
3   2013   245449
4   2014   246587
5   2015   246534
6   2016   245843
7   2017   244922
8   2018   244076
9   2019   242742
10  2020   238005
11  2021   235089
12  2022   236732
13  2023   237374
population_bloomington_monroe
    year  Bloomington
0   2009      185.598
1   2010      160.140
2   2011      161.769
3   2012      162.938
4   2013      163.337
5   2014      164.570
6   2015      165.255
7   2016      166.834
8   2017      167.619
9   2018      168.290
10  2019      169.059
11  2020      160.885
12  2021      161.567
13  2022      161.227
population_dallas
    year   Dallas
0   2010  1200372
1   2011  1218320
2   2012  1242344
3   2013  1259239
4   2014  1279679
5   2015  1301794
6   2016  1324477
7   2017  1343087
8   2018  1345047
9   2019  1343573
10  2020  1304379
11  2021  1288439
12  2022  1295222
13  2023  1297570
unemployment_rate_sonoma
    year     Sonoma
0   2009   9.808333
1   2010  11.075000
2   2011  10.391667
3   2012   9.008333
4   2013   7.200000
5   2014   5.675000
6   2015   4.508333
7   2016   4.000000
8   2017   3.400000
9   2018   2.791667
10  2019   2.700000
11  2020   8.108333
12  2021   5.558333
13  2022   3.125000
14  2023   3.562500
unemployment_rate_austin
    year    Austin
0   2009  7.300000
1   2010  8.091667
2   2011  8.141667
3   2012  6.366667
4   2013  5.933333
5   2014  4.841667
6   2015  4.616667
7   2016  5.333333
8   2017  4.450000
9   2018  3.700000
10  2019  3.441667
11  2020  6.700000
12  2021  5.558333
13  2022  3.916667
14  2023  4.012500
unemployment_rate_norfolk_city
    year   Norfolk
0   2009  8.725000
1   2010  8.941667
2   2011  8.291667
3   2012  7.475000
4   2013  6.791667
5   2014  6.233333
6   2015  5.500000
7   2016  5.208333
8   2017  4.558333
9   2018  3.650000
10  2019  3.433333
11  2020  8.991667
12  2021  5.550000
13  2022  3.541667
14  2023  3.325000
unemployment_rate_bloomington
    year  Bloomington
0   2009     7.000000
1   2010     8.191667
2   2011     7.866667
3   2012     7.633333
4   2013     7.125000
5   2014     6.008333
6   2015     5.041667
7   2016     4.700000
8   2017     3.675000
9   2018     3.675000
10  2019     3.391667
11  2020     5.858333
12  2021     3.325000
13  2022     2.841667
14  2023     3.500000
unemployment_rate_dallas
    year    Dallas
0   2009  8.200000
1   2010  8.625000
2   2011  8.400000
3   2012  7.075000
4   2013  6.650000
5   2014  5.500000
6   2015  4.316667
7   2016  4.016667
8   2017  3.958333
9   2018  3.825000
10  2019  3.500000
11  2020  7.850000
12  2021  5.575000
13  2022  3.716667
14  2023  4.062500

In [13]:
from database_handler import *
from lookups import *
db_session = create_connection()

Connecting to database "animal_intakes_outcomes"...
Connection was successful.

In [58]:
source_dfs_dict = readData(etl_date = '2023-10-05', limit=10000000)
stg_dfs_dict = clean_all_data(source_dfs_dict)

In [ ]:
for df_name,stg_df in stg_dfs_dict.items():
    if len(stg_df) > 0:
        insert_stmt = insert_into_sql_statement_from_df(stg_df, DataWareHouseSchema.SCHEMA_NAME.value, 'stg_'+df_name)
        execute_return = execute_query(db_session=db_session, query= insert_stmt)
        if execute_return != Errors.NO_ERROR:
            raise Exception(f"{HookSteps.INSERT_INTO_STG_TABLE.value}: error executing insert_stmt.")

In [59]:
source_dfs_dict.keys()

dict_keys(['shelter_sonoma', 'shelter_austin_intakes', 'shelter_austin_outcomes', 'shelter_norfolk', 'shelter_bloomington', 'shelter_dallas_2017_2018', 'shelter_dallas_2018_2019', 'shelter_dallas_2019_2020', 'shelter_dallas_2020_2021', 'shelter_dallas_2021_2022', 'shelter_dallas_2022_2023', 'per_capita_sonoma_income', 'per_capita_austin_income', 'per_capita_norfolk_income', 'per_capita_bloomington_monroe_income', 'per_capita_dallas_income', 'population_sonoma', 'population_austin', 'population_norfolk', 'population_bloomington_monroe', 'population_dallas', 'unemployment_rate_sonoma', 'unemployment_rate_austin', 'unemployment_rate_norfolk_city', 'unemployment_rate_bloomington', 'unemployment_rate_dallas'])

In [60]:
stg_dfs_dict.keys()

dict_keys(['intakes_outcomes_sonoma', 'intakes_outcomes_austin', 'intakes_outcomes_norfolk', 'intakes_outcomes_bloomington', 'intakes_outcomes_dallas', 'per_capita_sonoma_income', 'per_capita_austin_income', 'per_capita_norfolk_income', 'per_capita_bloomington_monroe_income', 'per_capita_dallas_income', 'population_sonoma', 'population_austin', 'population_norfolk', 'population_bloomington_monroe', 'population_dallas', 'unemployment_rate_sonoma', 'unemployment_rate_austin', 'unemployment_rate_norfolk_city', 'unemployment_rate_bloomington', 'unemployment_rate_dallas'])

In [110]:
sonoma = source_dfs_dict['shelter_sonoma'].copy()
sonoma_cleaned = stg_dfs_dict['intakes_outcomes_sonoma'].copy()

In [114]:
sonoma_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 117
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   animal_id      118 non-null    object
 1   type           118 non-null    object
 2   breed          118 non-null    object
 3   color          118 non-null    object
 4   sex            118 non-null    object
 5   date_of_birth  118 non-null    datetime64[ns]
 6   intake_date    118 non-null    datetime64[ns]
 7   outcome_date   118 non-null    datetime64[ns]
 8   intake_type    118 non-null    object
 9   outcome_type   118 non-null    object
 10  region         118 non-null    object
dtypes: datetime64[ns](3), object(8)
memory usage: 11.1+ KB

In [112]:
columns = ['date_of_birth','intake_date','outcome_date']
sonoma_cleaned[columns] = sonoma_cleaned[columns].fillna('2262-04-11').astype('datetime64[ns]')
# sonoma_cleaned['date_of_birth'] = sonoma_cleaned['date_of_birth'].fillna('2262-04-11').astype('datetime64[ns]')
# sonoma_cleaned['intake_date'] = sonoma_cleaned['intake_date'].fillna('2262-04-11').astype('datetime64[ns]')
# sonoma_cleaned['outcome_date'] = sonoma_cleaned['outcome_date'].fillna('2262-04-11').astype('datetime64[ns]')

In [113]:
sonoma_cleaned

,animal_id,type,breed,color,sex,date_of_birth,intake_date,outcome_date,intake_type,outcome_type,region
0,SO-A420761,Dog,French Bulldog,Tan,Female,2019-03-29,2023-10-06,2023-10-06,Stray,Return To Owner,Sonoma
1,SO-A420925,Dog,Doberman Pinsch,Black/Tan,Male,2022-04-06,2023-10-05,2023-10-06,Stray,Return To Owner,Sonoma
2,SO-A418625,Cat,Domestic Sh,Black/White,Neutered,2023-06-26,2023-06-27,2023-10-06,Stray,Adoption,Sonoma
3,SO-A420157,Cat,Domestic Mh,Tortie,Spayed,2023-03-25,2023-09-05,2023-10-06,Owner Surrender,Adoption,Sonoma
4,SO-A420031,Dog,Belg Malinois/Mix,Black/Tan,Neutered,2023-06-02,2023-08-29,2023-10-06,Stray,Adoption,Sonoma
...,...,...,...,...,...,...,...,...,...,...,...
113,SO-A421058,Cat,Domestic Sh,White/Black,Female,2023-09-10,2023-10-13,2023-10-13,Stray,Euthanize,Sonoma
114,SO-A421059,Cat,Domestic Sh,Brown Tabby/Black,Male,2023-09-10,2023-10-10,2262-04-11,Stray,Pending,Sonoma
115,SO-A419843,Dog,Welsh Corgi Pem/Cavalier Span,Black/White,Neutered,2021-08-22,2023-08-22,2023-10-13,Stray,Adoption,Sonoma
116,SO-A421205,Other,Chicken,Red,Unknown,2262-04-11,2023-10-13,2262-04-11,Confiscate,Pending,Sonoma
117,SO-A421112,Dog,Doberman Pinsch,Black/Brown,Female,2022-12-13,2023-10-11,2262-04-11,Stray,Pending,Sonoma

In [26]:
insert_stmt = insert_into_sql_statement_from_df(sonoma, DataWareHouseSchema.SCHEMA_NAME.value, 'stg_'+df_name)
# execute_return = execute_query(db_session=db_session, query= insert_stmt)

In [27]:
insert_stmt

"INSERT INTO dw_reporting_schema.stg_intakes_outcomes_sonoma (animal_id, type, breed, color, sex, date_of_birth, intake_date, outcome_date, intake_type, outcome_type, region) VALUES\n('SO-A420761', 'Dog', 'French Bulldog', 'Tan', 'Female', '2019-03-29 00:00:00', '2023-10-06 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420925', 'Dog', 'Doberman Pinsch', 'Black/Tan', 'Male', '2022-04-06 00:00:00', '2023-10-05 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A418625', 'Cat', 'Domestic Sh', 'Black/White', 'Neutered', '2023-06-26 00:00:00', '2023-06-27 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420157', 'Cat', 'Domestic Mh', 'Tortie', 'Spayed', '2023-03-25 00:00:00', '2023-09-05 00:00:00', '2023-10-06 00:00:00', 'Owner Surrender', 'Adoption', 'Sonoma'),\n('SO-A420031', 'Dog', 'Belg Malinois/Mix', 'Black/Tan', 'Neutered', '2023-06-02 00:00:00', '2023-08-29 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420959', 'Dog', 'Rottweiler/Mix', 'Tan/Black', 'Female', '2020-01-11 00:00:00', '2023-10-06 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420760', 'Dog', 'French Bulldog', 'Blue Merle/White', 'Male', '2019-03-29 00:00:00', '2023-10-06 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420958', 'Dog', 'Rottweiler', 'Black/Tan', 'Neutered', '2018-10-10 00:00:00', '2023-10-06 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420277', 'Dog', 'Parson Russ Ter/Dachshund', 'White/Red', 'Neutered', '2023-03-09 00:00:00', '2023-09-09 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420379', 'Cat', 'Domestic Sh', 'Black', 'Neutered', '2023-07-13 00:00:00', '2023-09-13 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420114', 'Dog', 'Pomeranian', 'Cream', 'Male', '2021-03-02 00:00:00', '2023-09-20 00:00:00', '2023-10-06 00:00:00', 'Owner Surrender', 'Return To Owner', 'Sonoma'),\n('SO-A420467', 'Cat', 'Domestic Sh', 'White/Black', 'Spayed', '2023-08-01 00:00:00', '2023-09-16 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420962', 'Cat', 'Domestic Sh', 'Slvr Tabby/Tortie', 'Spayed', '2017-04-01 00:00:00', '2023-10-06 00:00:00', '2023-10-06 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A416472', 'Dog', 'Siberian Husky', 'Black/White', 'Spayed', '2020-04-01 00:00:00', '2023-04-01 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420158', 'Cat', 'Domestic Mh', 'Gray/White', 'Spayed', '2023-04-05 00:00:00', '2023-09-05 00:00:00', '2023-10-07 00:00:00', 'Owner Surrender', 'Adoption', 'Sonoma'),\n('SO-A419845', 'Cat', 'Domestic Sh', 'White/Black', 'Neutered', '2023-03-06 00:00:00', '2023-10-07 00:00:00', 'NaT', 'Adoption Return', 'Pending', 'Sonoma'),\n('SO-A420985', 'Dog', 'Pit Bull', 'Brown/White', 'Female', '2017-10-07 00:00:00', '2023-10-06 00:00:00', '2023-10-07 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A420297', 'Cat', 'Domestic Sh', 'Tortie/White', 'Spayed', '2021-09-10 00:00:00', '2023-09-10 00:00:00', '2023-10-07 00:00:00', 'Confiscate', 'Adoption', 'Sonoma'),\n('SO-A420997', 'Cat', 'Domestic Sh', 'Black/White', 'Neutered', '2010-10-07 00:00:00', '2023-10-07 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421005', 'Dog', 'Anatol Shepherd', 'White/Black', 'Male', '2023-01-07 00:00:00', '2023-10-07 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421018', 'Cat', 'Domestic Lh', 'White/Black', 'Male', '2022-04-07 00:00:00', '2023-10-07 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420252', 'Cat', 'Domestic Sh', 'Black', 'Spayed', '2023-03-08 00:00:00', '2023-09-08 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420028', 'Dog', 'Belg Malinois/Mix', 'Black/Tan', 'Spayed', '2023-06-02 00:00:00', '2023-08-29 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420983', 'Dog', 'Pit Bull', 'Tan', 'Female', '2022-11-07 00:00:00', '2023-10-06 00:00:00', '2023-10-07 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A420873', 'Dog', 'Germ Shepherd', 'Tan/Black', 'Female', '2020-10-07 00:00:00', '2023-10-03 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420984', 'Dog', 'Pit Bull/Siberian Husky', 'Tan', 'Female', '2017-10-07 00:00:00', '2023-10-06 00:00:00', '2023-10-07 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A421006', 'Dog', 'Germ Shepherd', 'Black/White', 'Neutered', '2021-05-15 00:00:00', '2023-10-07 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420510', 'Dog', 'Border Collie/Mix', 'Black/White', 'Spayed', '2022-10-06 00:00:00', '2023-09-19 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A409474', 'Dog', 'Aust Cattle Dog', 'Black/Tan', 'Male', '2019-10-19 00:00:00', '2023-10-07 00:00:00', '2023-10-07 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A278689', 'Dog', 'Pit Bull', 'Red', 'Male', '2011-10-26 00:00:00', '2023-10-06 00:00:00', '2023-10-07 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A421033', 'Cat', 'Domestic Mh', 'Black', 'Female', '2023-08-24 00:00:00', '2023-10-08 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421031', 'Cat', 'Domestic Sh', 'Gray Tabby', 'Female', '2022-10-08 00:00:00', '2023-10-08 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421034', 'Cat', 'Domestic Mh', 'Black/White', 'Male', '2023-08-24 00:00:00', '2023-10-08 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421032', 'Cat', 'Domestic Mh', 'Brown Tabby/White', 'Male', '2023-08-24 00:00:00', '2023-10-08 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421043', 'Dog', 'Pit Bull', 'Brown/White', 'Male', 'NaT', '2023-10-09 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A299415', 'Dog', 'Dachshund Lh', 'Red', 'Neutered', '2012-07-13 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421064', 'Dog', 'Germ Shepherd/Mix', 'Black', 'Female', '2023-06-25 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421065', 'Dog', 'Germ Shepherd/Mix', 'Black/Tan', 'Female', '2023-06-25 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421046', 'Cat', 'Domestic Sh', 'Gray/White', 'Male', 'NaT', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420503', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-07-20 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A420030', 'Dog', 'Belg Malinois/Mix', 'Black/Tan', 'Spayed', '2023-06-03 00:00:00', '2023-08-29 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421042', 'Dog', 'Beagle', 'Tricolor', 'Spayed', '2009-04-22 00:00:00', '2023-10-09 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421083', 'Cat', 'Domestic Sh', 'Org Tabby', 'Male', 'NaT', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421054', 'Dog', 'Pit Bull/Mix', 'Tan', 'Male', 'NaT', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421075', 'Cat', 'Domestic Sh', 'Black', 'Male', '2023-08-05 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421049', 'Cat', 'Domestic Sh', 'Black/White', 'Spayed', '2016-04-12 00:00:00', '2023-10-10 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Euthanize', 'Sonoma'),\n('SO-A299416', 'Dog', 'Dachshund Lh', 'Brown/Red', 'Spayed', '2012-07-13 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421071', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-08-05 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420029', 'Dog', 'Belg Malinois/Mix', 'Black/Tan', 'Neutered', '2023-06-03 00:00:00', '2023-08-29 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421047', 'Dog', 'Germ Shepherd', 'Black/Brown', 'Male', 'NaT', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420506', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-07-20 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A421072', 'Cat', 'Domestic Sh', 'Tortie', 'Female', '2023-08-05 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421074', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Female', '2023-08-05 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420165', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-07-05 00:00:00', '2023-09-05 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Transfer', 'Sonoma'),\n('SO-A421076', 'Other', 'Bat', 'Brown', 'Unknown', 'NaT', '2023-10-10 00:00:00', '2023-10-10 00:00:00', 'Quarantine', 'Euthanize', 'Sonoma'),\n('SO-A420194', 'Dog', 'Patterdale Terr/Mix', 'Black', 'Neutered', '2023-04-04 00:00:00', '2023-09-06 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421030', 'Cat', 'Domestic Mh', 'Tortie', 'Spayed', '2013-04-10 00:00:00', '2023-10-08 00:00:00', '2023-10-10 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421073', 'Cat', 'Domestic Sh', 'Tortie', 'Female', '2023-08-05 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421111', 'Dog', 'Toy Fox Terrier', 'White/Brown', 'Male', 'NaT', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421104', 'Cat', 'Domestic Mh', 'Org Tabby', 'Female', '2023-08-20 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A421091', 'Other', 'Chicken', 'Gold/Black', 'Unknown', 'NaT', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421106', 'Cat', 'Domestic Mh', 'Org Tabby', 'Male', '2023-08-20 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A421125', 'Dog', 'Belg Malinois', 'Black/Tan', 'Female', '2023-04-11 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421128', 'Other', 'Pigeon', 'Black/White', 'Unknown', 'NaT', '2023-10-11 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421035', 'Dog', 'Pit Bull/Mix', 'Brown/White', 'Female', '2022-12-11 00:00:00', '2023-10-08 00:00:00', '2023-10-11 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A420076', 'Cat', 'Domestic Mh', 'Black/White', 'Neutered', '2019-08-31 00:00:00', '2023-08-31 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A419496', 'Dog', 'Welsh Corgi Car/Mix', 'White/Brown', 'Neutered', '2020-09-19 00:00:00', '2023-08-05 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A419911', 'Dog', 'Maltese/Mix', 'White', 'Male', '2015-09-21 00:00:00', '2023-08-25 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Euthanize', 'Sonoma'),\n('SO-A421107', 'Cat', 'Domestic Mh', 'Brown Tabby/Orange', 'Male', '2023-08-20 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A421061', 'Dog', 'Chihuahua Sh', 'White', 'Female', 'NaT', '2023-10-10 00:00:00', '2023-10-11 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A410133', 'Dog', 'Labrador Retr', 'Yellow', 'Male', '2020-06-09 00:00:00', '2023-10-10 00:00:00', '2023-10-11 00:00:00', 'Confiscate', 'Return To Owner', 'Sonoma'),\n('SO-A420226', 'Cat', 'Domestic Sh', 'Org Tabby', 'Spayed', '2021-09-07 00:00:00', '2023-09-07 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420681', 'Dog', 'Golden Retr', 'Gold', 'Female', '2019-10-05 00:00:00', '2023-09-26 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Transfer', 'Sonoma'),\n('SO-A385123', 'Dog', 'Germ Shepherd', 'Black', 'Neutered', '2013-01-01 00:00:00', '2023-10-08 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421120', 'Cat', 'Siamese', 'Seal Pt', 'Male', '2022-10-11 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421108', 'Dog', 'Parson Russ Ter/Mix', 'Tricolor', 'Female', '2021-10-11 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421105', 'Cat', 'Domestic Mh', 'Org Tabby', 'Female', '2023-08-20 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Owner Surrender', 'Pending', 'Sonoma'),\n('SO-A421029', 'Dog', 'Belg Malinois', 'Tan/Black', 'Neutered', '2022-10-11 00:00:00', '2023-10-08 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420078', 'Dog', 'Chihuahua Sh', 'Tan/White', 'Spayed', '2020-10-10 00:00:00', '2023-08-31 00:00:00', '2023-10-11 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A420838', 'Dog', 'Germ Shepherd', 'Tan/Black', 'Male', '2022-10-01 00:00:00', '2023-10-01 00:00:00', '2023-10-11 00:00:00', 'Quarantine', 'Return To Owner', 'Sonoma'),\n('SO-A421172', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Unknown', '2023-10-09 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421164', 'Dog', 'Labrador Retr', 'Black', 'Unknown', 'NaT', '2023-10-12 00:00:00', '2023-10-12 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421126', 'Dog', 'Aust Shepherd', 'Black/Tricolor', 'Male', '2023-01-12 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421170', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Unknown', '2023-10-09 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420439', 'Dog', 'Boxer/Mix', 'Br Brindle/White', 'Neutered', '2023-05-14 00:00:00', '2023-09-14 00:00:00', '2023-10-12 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421154', 'Dog', 'Chihuahua Sh', 'Tan', 'Female', '2016-10-12 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A418590', 'Dog', 'Fox Terr Smooth', 'White/Brown', 'Male', '2012-06-27 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421169', 'Cat', 'Domestic Sh', 'Gray Tabby', 'Female', 'NaT', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421160', 'Dog', 'Chihuahua Lh/Mix', 'White/Tan', 'Female', 'NaT', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421084', 'Cat', 'Domestic Sh', 'Brown Tabby/White', 'Spayed', '2007-10-11 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420716', 'Dog', 'Rottweiler', 'Black/Tan', 'Female', '2022-11-29 00:00:00', '2023-10-12 00:00:00', '2023-10-12 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421134', 'Dog', 'Labrador Retr/Mix', 'Black/White', 'Female', 'NaT', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421173', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Unknown', '2023-10-09 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421162', 'Dog', 'Labrador Retr', 'Brown', 'Female', 'NaT', '2023-10-12 00:00:00', '2023-10-12 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A421123', 'Dog', 'Great Pyrenees', 'White', 'Female', 'NaT', '2023-10-11 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421176', 'Cat', 'Domestic Sh', 'Black/White', 'Male', '2022-10-12 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421121', 'Dog', 'Great Pyrenees', 'White', 'Male', 'NaT', '2023-10-11 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421171', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Unknown', '2023-10-09 00:00:00', '2023-10-12 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A405406', 'Dog', 'Yorkshire Terr', 'Black', 'Neutered', '2007-07-20 00:00:00', '2023-10-13 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A417363', 'Dog', 'Pit Bull/Mix', 'Brown/White', 'Neutered', '2021-12-12 00:00:00', '2023-10-13 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Return To Owner', 'Sonoma'),\n('SO-A420111', 'Dog', 'Dachshund/Mix', 'Tan', 'Neutered', '2022-09-25 00:00:00', '2023-09-01 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421193', 'Cat', 'Domestic Sh', 'White/Black', 'Neutered', 'NaT', '2023-10-13 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421207', 'Other', 'Chicken', 'Red', 'Unknown', 'NaT', '2023-10-13 00:00:00', '2023-10-13 00:00:00', 'Confiscate', 'Euthanize', 'Sonoma'),\n('SO-A420820', 'Cat', 'Domestic Sh', 'Brown Tabby/White', 'Male', '2023-08-15 00:00:00', '2023-09-30 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Transfer', 'Sonoma'),\n('SO-A421196', 'Dog', 'Pit Bull', 'Tricolor', 'Female', '2022-04-13 00:00:00', '2023-10-13 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A420814', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-08-15 00:00:00', '2023-09-30 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Transfer', 'Sonoma'),\n('SO-A420813', 'Cat', 'Domestic Sh', 'Brown Tabby', 'Male', '2023-08-15 00:00:00', '2023-09-30 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Transfer', 'Sonoma'),\n('SO-A421060', 'Cat', 'Domestic Sh', 'Brown Tabby/Black', 'Male', '2023-09-10 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421206', 'Other', 'Chicken', 'Red', 'Unknown', 'NaT', '2023-10-13 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A418990', 'Dog', 'Great Pyrenees', 'White', 'Neutered', '2022-02-17 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Adoption Return', 'Pending', 'Sonoma'),\n('SO-A420266', 'Cat', 'Domestic Sh/Mix', 'Brown Tabby/White', 'Spayed', '2023-06-15 00:00:00', '2023-09-12 00:00:00', '2023-10-13 00:00:00', 'Owner Surrender', 'Adoption', 'Sonoma'),\n('SO-A421021', 'Cat', 'Domestic Sh', 'Black', 'Female', '2023-08-07 00:00:00', '2023-10-07 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421208', 'Cat', 'Domestic Sh', 'Brown Tabby/White', 'Spayed', 'NaT', '2023-10-13 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A421058', 'Cat', 'Domestic Sh', 'White/Black', 'Female', '2023-09-10 00:00:00', '2023-10-13 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Euthanize', 'Sonoma'),\n('SO-A421059', 'Cat', 'Domestic Sh', 'Brown Tabby/Black', 'Male', '2023-09-10 00:00:00', '2023-10-10 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma'),\n('SO-A419843', 'Dog', 'Welsh Corgi Pem/Cavalier Span', 'Black/White', 'Neutered', '2021-08-22 00:00:00', '2023-08-22 00:00:00', '2023-10-13 00:00:00', 'Stray', 'Adoption', 'Sonoma'),\n('SO-A421205', 'Other', 'Chicken', 'Red', 'Unknown', 'NaT', '2023-10-13 00:00:00', 'NaT', 'Confiscate', 'Pending', 'Sonoma'),\n('SO-A421112', 'Dog', 'Doberman Pinsch', 'Black/Brown', 'Female', '2022-12-13 00:00:00', '2023-10-11 00:00:00', 'NaT', 'Stray', 'Pending', 'Sonoma');"